<div class="p-2">
  <table class="table table-sm table-striped">
      <tbody>
          <tr>
              <th>Name</th><th>Category</th><th>Price</th>
              <th>Supplier</th><th>Ratings</th>
          </tr>

          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>{{product.supplier?.name || 'None'}}</td>
            <td>{{product.ratings?.length || 0}}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary m-1" (click)="createProduct()">Create Product</button>
<button class="btn btn-primary m-1" (click)="createProductAndSupplier()">Create product and supplier</button>

<button class="btn btn-primary m-1" (click)="replaceProduct()">Replace Product</button>
<button class="btn btn-primary m-1" (click)="replaceSupplier()">Replace supplier</button>
</div>
